main {
    margin: 20px;
}

body.dark-mode #searchbox {
    box-shadow: 0 1px 10px 1px #606060FF;
}

body.dark-mode hr {
    border-color: #bfbfbf;
}

.suggestions {
    width: clamp(195px, 835px, 46vw);
}

#hr-top {
    width: 97%;
    margin-top: 20px;
}

.auto-correct {
    color: #F44242;
    margin-left: 10px;
}

#corrected-word {
    color: #4285F4;
    text-decoration: none;
}

#corrected-word:hover {
    text-decoration: underline;
}

.quote {
    color: #4285F4;
}

#icon {
    width: 60px;
}

input {
    width: clamp(200px, 800px, 45vw);
}

button {
    padding: 12px 15px 13px;
    margin-left: -48px;
    position: absolute;
}

h1 {
    font-size: 18px;
}

.search-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
}

header {
    position: sticky;
    top: 10px;
    z-index: 3;
}

header.scrolled {
    background-color: #ffffff;
    box-shadow: 1px 0 4px 0 #CCCCCC;
    top: 0;
    padding: 0 0;
    transition: background-color 200ms ease-out;
}

body.dark-mode header.scrolled {
    background-color: #303134;
    box-shadow: none;
}

.result-card {
    line-height: 5px;
    margin-bottom: 45px;
}

body.dark-mode .result-card p b {
    font-weight: bolder;
    color: #cfcfcf
}

.result-card p:nth-child(1) {
    margin-top: 5px;
    margin-bottom: 5px;
}

#showing-results {
    font-size: smaller;
    margin-left: 10px;
}

.search-info {
    margin-left: 10px;
    margin-bottom: 25px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.pagination-arrow,
.pagination-number {
    text-decoration: none;
    color: #5D55F6;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.pagination-number:hover,
.pagination-arrow:hover {
    color: #fff;
    background-color: #5D55F6;
    transform: scale(1.1);
}

.pagination-number.active {
    background-color: #5D55F6;
    color: #fff;
}

.pagination-dots {
    font-size: 16px;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-arrow {
    width: 24px;
    height: 24px;
    font-size: 18px;
    border: none;
}

.pagination-arrow[style="visibility: hidden;"] {
    visibility: hidden;
}

body.dark-mode .pagination-number {
    color: #bfbfbf;
    border: none;
}

body.dark-mode .pagination-arrow {
    color: #bfbfbf;
}

body.dark-mode .pagination-arrow:hover {
    border: none;
}

body.dark-mode .pagination-number.active {
    background-color: #bfbfbf;
    color: #1e1e1e;
    border: none;
}

body.dark-mode .pagination-number:hover,
body.dark-mode .pagination-arrow:hover {
    color: #1e1e1e;
    background-color: #bfbfbf;
    transform: scale(1.1);
}


/* Footer */
footer {
    background-color: #f2f2f2;
    color: #474747;
    height: 80px;
    text-align: center;
}

footer p {
    padding-top: 20px;
}

body.dark-mode footer {
    background-color: #171717;
    color: #bfbfbf;
}

body {
    margin: 0 0;
}

.search-instead {
    margin-top: 5px;
    margin-left: 10px;
}

.corrected_query {
    margin-bottom: 0;
}

.old-query {
    margin-top: 0;
}

.search-instead a {
    color: #1a0dab;
    font-style: italic;
    font-weight: bold;
}

.search-instead a:visited {
    color: #681da8;
    font-style: italic;
    font-weight: bold;
}

body.dark-mode .search-instead a {
    color: #99c3ff;
    font-style: italic;
    font-weight: bold;
}

body.dark-mode .search-instead a:visited {
    color: #c58af9;
    font-style: italic;
    font-weight: bold;
}

